<h1>新增許願卡</h1>

<form action="/create_card" method="post">
    <input type="hidden" name="authenticity_token" >
    <input type="text" name="wsl[title]">
    <textarea name="wsl[description]"></textarea>
    <button>送出</button>
</form>